@font-face{
	font-family: BODONB;
	src:url("BODONB.TTF") format("truetype");
} 
@font-face{
	font-family: TEIS;
	src:url("TEIS.TTF") format("truetype");
}
@font-face{
	font-family: BOOKOS;
	src:url("BOOKOS.TTF") format("truetype");
}